{
  "extends": ["prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "ignorePatterns": ["src/**/*.test.ts"]
}